[Desktop Entry]
Name=Jack Pass
Comment=Gerador de Senhas
Exec=/usr/local/bin/jackpass.py
Icon=/usr/local/share/icon/jackpass_icon.png
Terminal=true
Type=Application
Categories=Office;
